@font-face {
  font-family: Gumela;
  src: url('../src/fonts/GumelaRegular.otf');
}

*{
  font-family: 'Gumela';
  font-weight: normal;
  font-size: 20px;
}

body {
  padding: 0;
  margin: 0;
}

:root {
  --yellow: #f5c32c;
  --orange: #fca61f;
  --blue: #419ecb;
  --black: #242d49;
  --gray: #788097;
  --blueCard: #ddf8fe;
  --purple: rgb(238, 210, 255);
  --boxShadow: 0px 19px 60px rgb(0, 0, 0, 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

.App{
  padding: 0.5rem 3.5rem;
  overflow: hidden;
  color: var(--black);
}

.button {
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px;
  background: linear-gradient(180deg, #419ecb 26.71%, #10a3ec 99.36%);
  box-shadow: 0px 10px 24px 3px rgba(65, 158, 203, 0.22);
  border: 1px solid var(--blue);
  transition: all 500ms;
}

.button:hover {
  background: white;
  cursor: pointer;
  color: var(--blue);
  border: 1px solid var(--blue);
}

@media screen and (max-width: 1199.98px) {
  .App {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 480px) {
  .App {
    padding: 0.5rem 1rem;
  }
}